NODE_ENV=production # development | production
PORT=4000

DATABASE_URL=

# For local development
# AWS_ENDPOINT_URL=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_ENDPOINT_URL=
COGNITO_ISSUER_URL=

S3_BUCKET_ORIGINALS=
SQS_WATERMARK_QUEUE_URL=

# development http://localhost:8080 | production CLOUDFRONT_ORIGIN_URL
FRONTEND_ORIGIN=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

SNS_TRANSACTIONS_TOPIC_ARN=

DEFAULT_PHOTO_UNIT_PRICE_USD=12
